#root {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'poppins', sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

